<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="4MIEIC02-AD">

    <title>Sales Order Picking</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="nav-logo" src="/img/logo.png" />
                <a id="nav-text" href="#">Sales Order Picking</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#" class="active"><i class="fa fa-list-alt fa-fw"></i> Picking wave ativa</a>
                        </li>
                        <li>
                            <form action="/logout" method="post">
                                <button type="submit"><i class="fa fa-sign-out fa-fw"></i> Terminar sessão</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">Picking wave ativa</h1>
                </div>
            </div>

            {{#if pickingOrder.steps}}
                {{#each pickingOrder.steps}}
                <div class="col-xs-12 location-system">
                    <div class="col-xs-12 worker-main pointer-cursor clickable-pad">
                        <div class="col-xs-10">
                            <h3><i class="fa fa-caret-down fa-fw location-caret"></i><i class="fa fa-map-marker fa-fw"></i> {{location}}</h3>
                        </div>
                        <div class="col-xs-2 on-the-right automatic-check">
                            <h3><i class="fa fa-square-o fa-fw signal-check"></i></h3>
                        </div>
                    </div>
                    {{#each items}}
                    <div class="col-xs-12 worker-sec">
                        <div class="col-xs-10">
                            <h4><i class="fa fa-square-o fa-fw location-check item-check"></i> ({{quantity}} un.) {{name}}</h4>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group spinner on-the-right" align="right">
                                <input type="number" class="form-control" value="{{quantity}}" min="0" max="{{quantity}}" required>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            {{/each}}
            <form>
                <button type="submit" class="submit-worker on-the-right" disabled><i class="fa fa-check"></i></button>
            </form>
            {{else}}
                <p><i class="fa fa-warning fa-fw"></i> Neste momento não tem nenhuma picking wave ativa. Por favor, espere um pouco e de seguida atualize a página.</p>
            {{/if}}
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $('.location-check').click(function() {
            $(this).toggleClass('selected');
            $(this).toggleClass('fa-square-o');
            $(this).toggleClass('fa-check-square');

            var not = 0;
            var yes = 0;
            var target = $(this).closest('.worker-sec').siblings('.worker-main').find('.signal-check')[0];

            /**
             * --------------- change location check sign according to its items ---------------
             */

            $(this).closest('.worker-sec').siblings('.worker-sec').each (function () {
                if($(this).find('.location-check')[0].classList.contains('fa-square-o')) {
                    not++;
                }
                else {
                    yes++;
                }
            });

            if($(this)[0].classList.contains('fa-square-o')) {
                not++;
            }
            else {
                yes++;
            }

            //all are done
            if (not == 0) {
                $(target).addClass('fa-check-square-o');
                if(target.classList.contains('fa-square-o')) {
                    $(target).removeClass('fa-square-o');
                }
                if(target.classList.contains('fa-minus-square-o')) {
                    $(target).removeClass('fa-minus-square-o');
                }
            }

            //none is done
            else if (yes == 0) {
                $(target).addClass('fa-square-o');
                if(target.classList.contains('fa-check-square-o')) {
                    $(target).removeClass('fa-check-square-o');
                }
                if(target.classList.contains('fa-minus-square-o')) {
                    $(target).removeClass('fa-minus-square-o');
                }
            }

            //mixed
            else {
                $(target).addClass('fa-minus-square-o');
                if(target.classList.contains('fa-check-square-o')) {
                    $(target).removeClass('fa-check-square-o');
                }
                if(target.classList.contains('fa-square-o')) {
                    $(target).removeClass('fa-square-o');
                }
            }

            /**
             * --------------- enable/disable submit button ---------------
             */

            var locationsDone = 0;
            var locationsNotDone = 0;
            var submitButton = $(this).closest('#page-wrapper').find('.submit-worker')[0];

            $(this).closest('.location-system').siblings('.location-system').each (function () {
                if($(this).find('.signal-check')[0].classList.contains('fa-check-square-o')) {
                    locationsDone++;
                }
                else {
                    locationsNotDone++;
                }
            });

            if($(this).closest('.location-system').find('.signal-check')[0].classList.contains('fa-check-square-o')) {
                locationsDone++;
            }
            else {
                locationsNotDone++;
            }

            //all are done
            if (locationsNotDone == 0) {
                if(submitButton.hasAttribute('disabled')) {
                    $(submitButton).removeAttr('disabled');
                }
            }

            else {
                if(!submitButton.hasAttribute('disabled')) {
                    $(submitButton).attr('disabled','');
                }
            }

        });
        $('.clickable-pad').click(function() {
            $(this).siblings('.worker-sec').slideToggle();
            $(this).find('.location-caret').toggleClass('fa-caret-down');
            $(this).find('.location-caret').toggleClass('fa-caret-up');
        });
    </script>

</body>

</html>
